#open{
    display: block;
    margin: 10px auto;
}
.dialog-container{
    position: absolute;
    margin-top: 40px;
    top:0;
    left:0;
    bottom: 0px;
    right: 0px;
}
.dialog-mask{
    width: 100%;
    height: 100%;
    background: #999999;
    opacity: 0.6;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.dialog-main{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    background:#ffffff;
}
.title{
    width: 400px;
    height: 40px;
    background: #000;
}
.dialog-title-item{
    float: left;
    margin-left: 20px;
    margin-top: 8px;
    color: white;
}
.dialog-title-close{
    float: right;
    margin-right: 20px;
    margin-top: 8px;
    color: white;
    cursor: pointer;
}






























