*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1002px;
    margin:0 auto;
    background: #ff0000;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}